@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --pixel-size: 8px;


  --primary-background: #5FEDDF;
  --secondary-background: #200052;
  --cell-background: #836EF9;
  --tile-background: #5FEDDF;


  --primary-text-color: #0d0021;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}
